.gui {
  z-index: 10;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.stat-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  user-select: none;
}

.stat {
  box-sizing: border-box;
  padding: 0.25em;
  margin: 0.125em;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  width: 100%;
  user-select: none;
}

.utility-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  user-select: none;
}

.utility-button {
  box-sizing: border-box;
  padding: 0.25em;
  margin: 0.125em;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  user-select: none;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
}

.node-buttons {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  z-index: 10;
  user-select: none;
}

.node-buttons img {
  width: 3em;  
  height: 3em;
  background-color: moccasin;
  border-radius: 50%;
  padding: 0.25em;
  margin: 0.125em 0;
  cursor: pointer;
  user-select: none;
}
