.gui {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

  z-index: 10;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.stat-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  user-select: none;
}

.stat {
  box-sizing: border-box;
  padding: 0.35em 0.5em;
  margin: 0.125em 0.25em;
  border-radius: 5px;
  border: none;
  background-color: #ADC178;
  color: black;
  width: 100%;
  user-select: none;
  line-height: 1.2em;
}

.utility-buttons {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  user-select: none;
}

.utility-button {
  box-sizing: border-box;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: 10px;
  border: 2px solid #A98467;
  background-color: #ADC178;
  color: black;
  user-select: none;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
  box-shadow: 0.25em 0.25em 5px #6C584C;
}
.utility-button:active {
  border: 4px solid #A98467;
  box-shadow: 0.125em 0.125em 1px #6C584C;
}

.node-buttons {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  z-index: 10;
  user-select: none;
}

.node-buttons img {
  width: 3em;  
  height: 3em;
  background-color: moccasin;
  border-radius: 50%;
  padding: 0.25em;
  margin: 0.125em 0;
  cursor: pointer;
  user-select: none;
}

.warning-button img {
  background-color: #FF4747;
}