
.question {
  flex: 1 1 max-content;

  display: grid;
  grid-template: min-content 1fr 1fr / 1fr 1fr;
  gap: 1rem;

  align-content: center;
  justify-content: center;
}

.question h4 {
  grid-area: 1 / 1 / span 1 / span 2;
}

.question button {
  padding: 1rem;

  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;

  overflow: hidden;
}

.question button h5 {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}
.question button img{
  flex: 1 1 auto;

  background-size: contain;
  width: 100%;
  height:100%;
}




