.main {
    padding: 0rem 2rem;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.en-link {
    color: #3366cc;
}

.en-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.en-link:active {
    color:darkgreen;
}

.en-control {
    color: black;
    font-size:x-large;
    user-select: none;
}

.en-control:hover {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.en-control:active {
    color:darkgreen;
}

.en-control-disabled {
    color: gray;
    font-size:x-large;
    user-select: none;
}

.butt {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    appearance: none;
    background-color: #A98467;
     transition: transform .7s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
 }

 .butt:hover {
    filter: brightness(1.25);
    scale: 110%;
    box-shadow: 0 0 15px rgba(33,33,33,.6); 
 }

 .butt:active{
    scale: 90%;
 }

img {
    height: 100px;
    width: 100px;
}

.banner {
    position: absolute;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 70%;
    width: 109px;
    height: 35px;
    color: white;
    font-size: 12px;
    line-height: 0px;
    transform: translate(-4%, 200%);
  }

  * {box-sizing: border-box}

  .Quiz {
    text-align: center;
  }

  .Quiz-Answers {
    max-width: 300px;
  }
