@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;

  font-family: 'Montserrat', sans-serif;
}


