

  
  
.menu img {
  max-width: 50px;
  max-height: 50px;
}
  
  * {box-sizing: border-box}


.tab {
  background-color: inherit;

  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-content: center;
}

.tab button {
  background-image: linear-gradient(180deg, #8B6E5Aee 0%, #A98467ff 20%);
  border: #8B6E5A solid 1px;
  border-bottom: none;
  color: black;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;


}
.tab button:focus,
.tab button:active {
  background-image: linear-gradient(180deg, #8B6E5Aee 0%, #A98467ff 100%);
}

ul {
  padding: 0;
  list-style-type: none;
}

.page {
  flex: 1 1 max-content;

  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 0.25em;

  align-content: center;
  justify-content: center;
  
  border: #8B6E5A solid 1px;
  border-top: none;
  padding: 1em;
}

.page h4 {
  grid-area: 1 / 1 / span 1 / span 2;
}

.page button {

  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;

  overflow: hidden;
  position: relative;
}

.page button h5 {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}
.page button img{
  flex: 1 1 auto;

  background-size: contain;
  width: 100%;
  height: 100%;
}

.new-badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute;
  top: 0;
  right: 0;
}

