.main {
  padding: 0rem 2rem;
  background-color: #A98467;
}

.en-link {
  color: #3366cc;
}

.en-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.en-link:active {
  color:darkgreen;
}

.en-control {
  color: black;
  font-size:x-large;
  user-select: none;
}

.en-control:hover {
  cursor: pointer;
  font-weight: bold;
  color: blue;
}

.en-control:active {
  color:darkgreen;
}

.en-control-disabled {
  color: gray;
  font-size:x-large;
  user-select: none;
}

.tiles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 2fr;
}

.pressable {
  border: none;
  background: inherit;
  border-radius: 10px;
  cursor: pointer;
  appearance: none;
   transition: transform .7s ease-in-out;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 75px;
  max-height: 75px;
}

.pressable:hover {
  filter: brightness(1.15);
  scale: 110%;
}

.pressable:active{
  scale: 90%;
}

.item-name {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  opacity: 70%;
  width: 50px;
  height: 35px;
  color: white;
  font-size: 8px;
  transform: translate(0%, 100%);
}

img {
max-width: 50px;
max-height: 50px;
}

* {box-sizing: border-box}

.tab {
  float: left;
  background-color: inherit;
  width: 100px;

}

.tab button {
  display: block;
  background-color: #A98467;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.tabule:hover {
  background-color: #CB9E7C;
}

.tabule:active {
  background-color: #8E6F56;
}

ul {
  padding: 0;
  list-style-type: none;
}

.main-container {
  max-width: 300px;
}