 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
	}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;

	overflow: hidden;

	display: grid;
	grid: 1fr / 1fr;
}

.a-enter-vr-button {
	display: none;
	grid-area: 1 / 1 / span 1 / span 1;
}

.ui {
	grid-area: 1 / 1 / span 1 / span 1;


	position: relative;
}

nav {
	top: 0;
	width: 100%;

	background-color: #A7D49B7f;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	padding: 1rem;

}

nav > h1 {
	margin: 0;
	padding: 0;

	color: #5A1807;
}




