.ammoniumsilo-menu-main {
    background-color: #A98467;
    padding: 3em;
    overflow: scroll;
}

.ammoniumsilo-grid {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.ammoniumsilo-grid p {
    font-size: small;
}

.ammoniumsilo-elem {
    background-color: #885a37;
    border-width: 2px;
    margin: 0.25em;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medium-icon {
    display: block;
    width: 8em;
    height: 8em;
}